/* Flexbox */
html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

/* Box sizing fix */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-top: 80px;
}

/* Floating nav bar  */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-image: url('../assets/img//logo/logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  z-index: 1000;
  padding: 0 1.5vw; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo img {
  width: 40px;
  height: 40px;
}


#nav-btn-profile, #nav-btn-profile img {
  padding: auto;
  margin: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#nav-btn-logout {
  padding: auto;
  margin: auto;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.header-content {
  display: flex;
  gap: 1rem;
  margin-right: 1vw;
}

#nav-btn-login, #nav-btn-register {
  padding: 0.5vw 1vw;
  text-decoration: none;
  cursor: pointer;

}

.nav-logo:hover,
#nav-btn-logout:hover,
#nav-btn-profile:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}



/* Main content : form, input, button, message error  */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 15rem;
  margin : 20px;
  padding : 20px;
  background-color: #D9D9D9;
  border-radius: 4px;
  
}

label{
  margin: 10px 0 5px 0;
  padding-left: 10px;
  
}

input {
  margin: 0.75em 0;
  padding: 0.75em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #A0A0D5;
}

input::placeholder {
  color: #fffdfd;
}

.formItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

#signIn, #goRegister{
  margin: 10px 1px;

}

#goRegister {
  color: #6a5acd;
  cursor: pointer;
  font-weight: 600;
}

#goRegister:hover {
  color:  #BB5EDB;
  text-decoration: underline;
  transition: color 0.3s;
}


#btnLogin, #btnRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: #D27DFB;
  color: white;
  border: none;
  padding: 8px 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

#btnLogin:hover, #btnRegister:hover {
  background-color: #BB5EDB;
  transition: color 0.3s;
}

#error {
  color: red;
  font-weight: bold;
  text-align: center;
}


/* footer */
footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.footer-logos {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  max-width: 200px; 
  margin: 0 auto;
  padding-bottom: 10px;
}

.footer-logos img {
  width: 40px; 
  height: auto;
}

.footer-links {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  flex-wrap: wrap; 
}

.footer-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #0073b1;
  transition: transform 0.2s ease;
}