/* Flexbox */
html, body {
  padding-top: 80px;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Floating nav bar  */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: url('../assets/img/logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  z-index: 1000;
  padding: 0 3vw; 
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo img, #nav-btn-logout {
  width: 40px;
  height: 40px;
}

.header-content {
  display: flex;
  gap: 1.5vw;
  margin-right: 4vw;
}

#nav-btn-login, #nav-btn-register {
  padding: 0.5vw 1vw;
  text-decoration: none;
  cursor: pointer;

}

/* Main content : form, input, button, message error  */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin : 20px;
    padding : 20px;
    background-color: #D9D9D9;
    border-radius: 4px;
}

input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #A0A0D5;

}

#btnLogin, #btnRegister {
    background-color: #D27DFB;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#btnLogin:hover, #btnRegister:hover {
    background-color: #BB5EDB;
}

input::placeholder {
    color: #fffdfd;
}

#error {
    color: red;
    font-weight: bold;
    text-align: center;
}

/* footer */
footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.footer-logos {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  max-width: 200px; 
  margin: 0 auto;
  padding-bottom: 10px;
}

.footer-logos img {
  width: 40px; 
  height: auto;
}

.footer-links {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  flex-wrap: wrap; 
}

.footer-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #0073b1;
}