/************************/
/* INITIALISE : Flexbox */
/************************/

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

/* Box sizing fix */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-top: 80px;
}

/************************/
/* Floating nav bar  */
/************************/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-image: url('../assets/img//logo/logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  z-index: 1000;
  padding: 0 1.5vw; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.header-content {
  display: flex;
  gap: 1rem;
  margin-right: 1vw;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo img {
  width: 38px;
  height: 38px;
}

#nav-btn-profile, #nav-btn-profile img {
  padding: auto;
  margin: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#nav-btn-logout {
  padding: auto;
  margin: auto;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

#nav-btn-login, #nav-btn-register {
  padding: 0.5vw 1vw;
  text-decoration: none;
  cursor: pointer;
}

.nav-logo:hover,
#nav-btn-logout:hover,
#nav-btn-profile:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

/*******************************************************/
/* Main content : form, input, button, message error  */
/*****************************************************/

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 18rem;
  margin : 20px;
  padding : 20px;
  background-color: #D9D9D9;
  border-radius: 4px;
  
}

label{
  margin: 10px 0 5px 0;
  padding-left: 10px;
  
}

input {
  margin: 0.75em 0;
  padding: 0.75em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #A0A0D5;
}

input::placeholder {
  color: #fffdfd;
}

#btnLogin, #btnRegister {
  background-color: #D27DFB;
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
  margin: 4px 2px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#btnLogin:hover, #btnRegister:hover {
  background-color: #BB5EDB;
  transition: color 0.3s;
}


#error {
  color: red;
  font-weight: bold;
  text-align: center;
}

/***********************************************************************/
/* FormItem : signIn + goRegister = lien pas de compte, inscrivez vous */
/***********************************************************************/

.formItem {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 10px;
  margin: 10px auto;
}

#signIn {
  display: flex;
  flex-wrap: nowrap;      
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0;
  white-space: nowrap;
}

#goRegister {
  color: #6a5acd;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

#goRegister:hover {
  color:  #BB5EDB;
  text-decoration: underline;
  transition: color 0.3s;
}

/**********/
/* footer */
/**********/

footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.footer-logos {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  max-width: 200px; 
  margin: 0 auto;
  padding-bottom: 10px;
}

.footer-logos img {
  width: 40px; 
  height: auto;
}

.footer-links {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  flex-wrap: wrap; 
}

.footer-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #0073b1;
  transition: transform 0.2s ease;
}


/************************/
/* LOGO CONNEXION */
/************************/

.user-profile {
  width: 2.5rem; /*taille*/
  height: 2.5rem;
  border-radius: 50%;

  background: #1a1a1a;
  cursor: pointer;

  outline: 1.5px solid transparent;
  outline-offset: 2px;
  background-image: linear-gradient(#1a1a1a, #1a1a1a),
                    linear-gradient(45deg, #8a2be2, #da70d6, #2e8eff);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.2s ease;

  position: relative;

  border-radius: 50%;
  cursor: pointer;
}

/* Liseré dégradé */
.user-profile::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* ÉPAISSEUR DU LISERÉ */
  border-radius: 50%;
  background: linear-gradient(45deg, #8a2be2, #da70d6, #2e8eff);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

/* Intérieur */
.user-profile-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1a1a1a;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.user-profile-inner svg {
  width: 4w; /* taille maîtrisée */
  height: 4vw;
  fill: #fff;
}

.user-profile:hover {
  transform: scale(1.15);
  transition: transform 0.2s ease;
}


